<h1>Listing passes</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @passes.each do |pass| %>
  <tr>
    <td><%= pass.description %></td>
    <td><%= link_to 'Show', pass %></td>
    <td><%= link_to 'Edit', edit_pass_path(pass) %></td>
    <td><%= link_to 'Destroy', pass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pass', new_pass_path %>
