<!DOCTYPE html>
<html lang="en">

<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home"><%= @retailer.name %></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <% @store.beacons.each do |beacon| %>
                      <li><a href="#"><%= beacon.name.titlecase %></a></li>
                    <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">

            <div class="col-md-6">
        
                <div class="thumbnail">
                    <img class="img-responsive" src=<%='/passes/qrcode/' + params[:id] + '.svg' %> alt="">
                </div>

            </div>

            <div class="col-md-6">

                <div class="well">
                        <h4>Gymboree Personalized Discount Pass</h4>
                        <p>This pass learns your in-store shopping habits and tastes and automatically updates with offers and discounts.</p>
                        <p>Scan this QR code through the Passbook app to download it. You will be alerted on your phone's screen when the pass updates with a new offer or discount.</p>
                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Company 2013 - Template by <a href="http://maxoffsky.com/">Maks</a>
                    </p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>
